.vscode/**
.vscode-test/**
out/test/**
src/**
prebuild/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
i18n/**
lib/**
!lib/run_as_node.*
node_modules/*/dist
node_modules/*/node_modules/*/dist
node_modules/*/test
node_modules/*/node_modules/*/test
*.vsix
gulpfile.js